.okabe-solid-orange {
  background-color: #e69f00;
}

.okabe-solid-cyan {
  background-color: #56b4e9;
}

.okabe-solid-green {
  background-color: #009e73;
}

.okabe-solid-yellow {
  background-color: #f0e442;
}

.okabe-solid-blue {
  background-color: #0072b2;
}

.okabe-solid-vermillion {
  background-color: #d55e00;
}

.okabe-solid-purple {
  background-color: #cc79a7;
}

.okabe-solid-black {
  background-color: #000000;
}
